<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>form</title>
    </head>
    <body>
      <form class="formu" action="../figures.php" method="get">
        <div c>

          <label for="cx">cx</label>
          <input type="number" name="centreX" value="0">
        </div>

        <div class="">
          <label for="cy">cy</label>
          <input type="number" name="centreY" value="0">

        </div>
        <div class="">
          <label for="rayon">rayon</label>
          <input type="number" name="rayon" value="0">
        </div>
         <div class="">
          <label for="angle">angle</label>
          <input type="angle" name="angle" value="0">
        </div>
        <div>
          <label for="figure">figure</label>
          <select name="figure">
            <option  value="cercle">cercle</option>
            <option value ="carre">carre</option>
            <option value="triange">triangle</option>
            <option value="all">all</option>

          </select>

        </div>




      <div class="">
      <button type="submit" name="button">dessiner en VGS</button>


      </div>





      </form>
    </body>
</html>
